

.detail-weather{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detail-weather-wrapper{
    display: flex;
    padding-bottom: 25px;
}

.detail-weather-container{
    display: flex;
    flex-direction: column;
}

.logo{
    font-size: 24px;
    color: white;
}

.logo__value{
    font-size: 28px;
    color: white;
}

.detail-weather-img{
    width: 50px;
    padding-right: 10px;
}

.current-weather__country{
    color: white;
    font-size: 38px;
    padding-top: 20px;
}

.current-weather__city{
    color: white;
    font-size: 30px;
    padding-top: 20px;
}

.current-weather__degree{
    color: white;
    font-size: 38px;
    padding-top: 20px;
    font-weight: 900;
}

.current-weather__main{
    width: 120px;
}